body{
    background-color: #7777772d;
}

.dropdown-menu{
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}

.dropdown-menu li a{
}

.card{
    width: 100% !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card-img-bottom{
    background-color: #065d64;
    
}

.card-img-top{
    background-color: #c7141a;

}

.btn-primary{
    margin-top: 10px;
}